# Django Settings
SECRET_KEY=your-super-secret-key-change-this-in-production
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,your-app-name.onrender.com

# Database (Render da avtomatik to'ldiriladi)
DATABASE_URL=postgres://user:password@host:5432/dbname

# CORS
RENDER_EXTERNAL_URL=https://your-app-name.onrender.com
